body{
    margin: 0;
    padding: 0;
    background-color: #FBDABB;
}
#mainCOntainer{
    display: flex;
}
#HeadingContainer{
    display: flex;
    justify-content: center;
    color: #495E54;
    height: 4em;
    margin: 0;
}
.container{
    margin-left: 1rem;
    padding: 10px;
    width: 45vw;
    height: 70vh;
    color: white;
    background-color: #495E54;
    border-radius: 10px;
}
.container form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
}

input[type="text"], input[type="date"], input[type="submit"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #495E54;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #b9b645;
}

